<h3>CREATE YOUR CHARACTER!</h3>

<section>
    <figure>
        <img *ngIf="newCharacter.image != ''" src="{{newCharacter.image}}" alt="{{newCharacter.name}}">
        <h4>{{newCharacter.name}}</h4>
        <p>Status: {{newCharacter.status}}</p>
        <p>Type: {{newCharacter.type}}</p>
        <p>Gender: {{newCharacter.gender}}</p>
    </figure>
    <form novalidate [formGroup]="characterForm" (ngSubmit)="onSubmit()">
        <label for="image">Image</label>
        <input type="text" formControlName="image">
        <label for="name">Name</label>
        <input type="text" formControlName="name">
        <label for="status">Status</label>
        <input type="text" formControlName="status">
        <label for="type">Type</label>
        <input type="text" formControlName="type">
        <label for="gender">Gender</label>
        <input type="text" formControlName="gender">
    

        <button mat-raised-button *ngIf="characterID !== ''" type="submit">Edit</button>
        <button mat-raised-button *ngIf="characterID === ''" type="submit">Create</button>
        
    </form>
</section>
