section {
    display: flex;
    align-items: center;
    justify-content: space-around;
    align-content: center;

    form {
        display: flex;
        flex-direction: column;
        align-items: stretch;
        justify-content: space-around;
        width: 500px;
        height: 600px;

        label {
            font-family: "Rubik Bubbles";
            font-size: 25px;
            margin-bottom: 10px;
        }
    }
}
