.information-container {
    width: 900px;
    text-align: justify;
    line-height: 40px;
    border: 5px solid black;
    border-radius: 50px;
    background-color: white;
    margin-bottom: 100px;

    h4 {
        margin-top: 50px;
    }

    p {
        margin: 0px 100px 50px 100px;
    }
}